<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button
    mat-icon-button
    aria-label="logout button"
    matTooltip="logout"
    matTooltipClass="tooltip-login-logout"
    (click)="auth.logout({ returnTo: document.location.origin })">
    <mat-icon>logout</mat-icon>
  </button>
</ng-container>

<ng-template #loggedOut>
  <button
    mat-icon-button
    aria-label="login button"
    matTooltip="login"
    matTooltipClass="tooltip-login-logout"
    (click)="auth.loginWithRedirect()">
    <mat-icon>login</mat-icon>    
  </button>
</ng-template>
