<div class="about-section">
    <h1>Aplicación web gameLibrary</h1>
    <h2>Etiam viverra fermentum risus, consequat egestas lacus scelerisque at.</h2>
    <p>
        Etiam viverra fermentum risus, consequat egestas lacus scelerisque at. In sagittis libero in ullamcorper
        ultricies. Vivamus ut mi facilisis, blandit sapien vitae, auctor lorem. Nunc sodales purus et neque luctus
        finibus. Suspendisse feugiat ultricies urna eget ornare. Mauris sodales viverra magna, sed molestie quam
        suscipit vel. Nunc congue ipsum lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Vivamus at enim facilisis, auctor ligula sed, aliquet turpis. Nulla varius justo a augue accumsan
        interdum non vel leo. Maecenas eleifend risus ut cursus fermentum.
    </p>
</div>