<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="item-active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">
        <mat-icon aria-label="Side nav game lists icon">library_books</mat-icon>
        <span>Games</span>
      </a>
      <a mat-list-item routerLinkActive="item-active" routerLink="add-game">
        <mat-icon aria-label="Side nav add game icon">videogame_asset</mat-icon>
        <span>Add game</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon aria-label="Toolbar app icon">sports_esports</mat-icon>
      <span>gameLibrary</span>
      <span class="spacer"></span>
      <app-auth-nav></app-auth-nav>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
